body{
	font-family:sans-serif;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	background:#white;
}

.container{
	display:flex;
	gap:40px;
	align-items:center;

}

.card{
	width:250px;
	background:#F51B3F;
	border-radius:15px;
	overflow:hidden;
	box-shadow:0 10px 20px rgb(0, 0, 0, 0.1);
	text-align:center;
	padding-bottom:20px;

}

.banner{
	height:80px;
	background:#F73656;
}

.avatar{
	width: 80px;
	height:80px;
	background:#E8F0FD;
	border: 4px solid white;
	border-radius:50%;
	margin:-40px auto 10px;
}

.controls{
	display: flex;
	flex-direction:column;
	gap:20px;

}

input{
	padding:10px;
	border-radius:5px;
	border: 1px solid #ccc;


}

.dark-mode{
	background-color:#333 !important;
	color:white !important;
}